@import "tailwindcss";
@plugin "daisyui";

@theme {

  --font-display: var(--font-orbitron), sans-serif;
  --font-sans: var(--font-inter), sans-serif;
  
  --color-flexuraNeon: #00F0FF;     
  --color-flexuraPurple: #0047FF;   
  
  --color-primary: var(--color-flexuraNeon);
}

@layer base {
  html, body {
    @apply bg-zinc-950 text-white font-sans antialiased scroll-smooth;
  }
}